In [1]:
from pymongo import MongoClient
import pandas as pd
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
%matplotlib inline

### get route info preped

In [2]:
def dataframe_from_collection(collection):
    '''covnert mongodb dataframe to pandas dataframe'''
    raw_data = collection.find()
    return pd.DataFrame(list(raw_data))

In [3]:
client = MongoClient('mongodb://localhost:27017/')
db = client.routes_updated
route_df = dataframe_from_collection(db.routes)
route_df.head().T

,0,1,2,3,4
Aid,0,0,0,0,0
Alpine,0,0,0,0,0
Boulder,0,0,0,0,0
FA,"Adam Winslow, Bill Coe, Kyle Silverman 3/20/09","Adam Winslow, Ujahn Davisson, Bill Coe, Jim Op...",?,,Unknown
Ice,0,0,0,0,0
Mixed,0,0,0,0,0
Sport,0,0,0,0,0
TR,0,0,1,1,1
Trad,1,1,1,1,1
_id,58d2afc740b4412d88f5a7ff,58d2afc740b4412d88f5a800,58d2afc740b4412d88f5a801,58d2afc740b4412d88f5a802,58d2afc740b4412d88f5a803
average_rating,1,1,1,2,1.4
grade,5.6,5.5,5.5,5.6,5.6
height,41,41,35,85,30
id,0,1,2,3,4
name,30(1) Feet of Pleasure,41 Feet of Pain,5.5 Crack,5.6 crack,5.6 Dihedral
original_grade,5.6,5.5,5.5,5.6,5.6
page_views,588,642,176,1263,678
pitches,1,1,NaN,1,1
route_url,/v/301-feet-of-pleasure/106862592,/v/41-feet-of-pain/106862549,/v/55-crack/108318876,/v/56-crack/106630563,/v/56-dihedral/106165717
season,NaN,NaN,Afternoon shade,NaN,NaN
submitted_by,adam winslow,adam winslow,CHopwood,Tom Bath,chrishar Hargarten
submitted_on,"Aug 18, 2010","Aug 18, 2010","Sep 2, 2013","Dec 16, 2009","May 19, 2008"
uiaa,NaN,NaN,NaN,NaN,NaN

### make id dataframe

In [4]:
route_df_id = route_df[['name', 'id','average_rating']]

### drop duplicates

In [5]:
# might not need this 
# route_df[route_df.duplicated(subset=['route_url'])].shape

# route_df = route_df.drop_duplicates(subset=['route_url'])

In [6]:
# drop columns
route_df_new = route_df.drop(['uiaa', 'submitted_on',
                            'submitted_by', 'season', 
                            'name', 'id',
                            'average_rating', '_id',
                            'FA', 'route_url'], axis=1)

In [7]:
route_df_new.head()

,Aid,Alpine,Boulder,Ice,Mixed,Sport,TR,Trad,grade,height,original_grade,page_views,pitches
0,0,0,0,0,0,0,0,1,5.6,41.0,5.6,588,1.0
1,0,0,0,0,0,0,0,1,5.5,41.0,5.5,642,1.0
2,0,0,0,0,0,0,1,1,5.5,35.0,5.5,176,NaN
3,0,0,0,0,0,0,1,1,5.6,85.0,5.6,1263,1.0
4,0,0,0,0,0,0,1,1,5.6,30.0,5.6,678,1.0

In [8]:
route_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727 entries, 0 to 3726
Data columns (total 13 columns):
Aid               3727 non-null int64
Alpine            3727 non-null int64
Boulder           3727 non-null int64
Ice               3727 non-null int64
Mixed             3727 non-null int64
Sport             3727 non-null int64
TR                3727 non-null int64
Trad              3727 non-null int64
grade             3727 non-null object
height            2992 non-null float64
original_grade    3727 non-null object
page_views        3727 non-null int64
pitches           2127 non-null float64
dtypes: float64(2), int64(9), object(2)
memory usage: 378.6+ KB

### fill nulls

In [9]:
route_df_new['height'] = route_df_new['height'].fillna(route_df_new['height'].mean())
route_df_new['pitches'] = route_df_new['pitches'].fillna(route_df_new['pitches'].mean())

### make dummies

In [10]:
df_grades = route_df_new[['grade','original_grade']]
df_dummies = pd.get_dummies(df_grades).drop('grade_3rd', axis=1)

In [11]:
concat_list = [route_df_new.drop(['grade','original_grade'], axis=1), df_dummies]
x_routes = pd.concat(concat_list, axis=1).fillna(route_df_new.mean())

In [12]:
x_routes.isnull().values.any()

False

In [13]:
x_routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727 entries, 0 to 3726
Columns: 129 entries, Aid to original_grade_Easy 5th
dtypes: float64(2), int64(9), uint8(118)
memory usage: 749.8 KB

### prep user info

In [14]:
db = client.users
users_df = dataframe_from_collection(db.users)
users_df.head().T

,0,1,2,3,4
_id,58d1912840b4417fa4b16db4,58d1912840b4417fa4b16db5,58d1912840b4417fa4b16db6,58d1912840b4417fa4b16db7,58d1912840b4417fa4b16db8
age,NaN,NaN,NaN,33,NaN
aid_follows,NaN,NaN,C5,NaN,NaN
aid_leads,NaN,NaN,C3,NaN,NaN
city,NaN,Seattle,Hawaii,Corvallis,NaN
compliments,0,1,10,0,0
favorite_climbs,leading trad is rad,"high mountain woody, fridge left, easy in an ...",none specified,outer space,none specified
female,NaN,0,0,0,NaN
ice_follows,NaN,NaN,NaN,NaN,NaN
ice_leads,NaN,NaN,NaN,NaN,NaN
id,0,1,2,3,4
last_vist,"Mar 2, 2017",6 days ago,34 mins ago,"Feb 15, 2017","Dec 11, 2012"
likes_gym,0,1,1,1,0
likes_sport,0,1,1,1,0
likes_tr,0,1,1,1,0
likes_trad,1,1,1,1,0
member_since,"Nov 13, 2010","May 8, 2011","Feb 2, 2009","May 26, 2010","Sep 3, 2006"
name,-Jeremy Nelson,1694kyle Bonnet,20 kN,419,8jimi8
other_interests,none specified,"Beer, Led Zeppelin, Food",none specified,Male Nursing,none specified
point_rank,2570,6523,601,1439,4969
sport_follows,NaN,6b,6b,NaN,NaN
sport_lead,NaN,6a,6b,NaN,NaN
state,NaN,wa,hi,co,NaN
total_points,223,50,1123,465,80
trad_follows,NaN,5c,6b,NaN,NaN
trad_lead,NaN,5a,5c,NaN,NaN

### make id dataframe

In [15]:
users_df_id = users_df[['name', 'id']]

In [16]:
users_df_new = users_df.drop(['name', '_id', 'other_interests', 'id', 'last_vist', 'favorite_climbs'], axis=1)
users_df_new.head(10).T

,0,1,2,3,4,5,6,7,8,9
age,NaN,NaN,NaN,33,NaN,44,NaN,25,26,NaN
aid_follows,NaN,NaN,C5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aid_leads,NaN,NaN,C3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,NaN,Seattle,Hawaii,Corvallis,NaN,Fort Thomas,San Diego,albuquerque,Seattle,Redmond
compliments,0,1,10,0,0,0,2,0,0,0
female,NaN,0,0,0,NaN,0,1,1,0,0
ice_follows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WI4,NaN
ice_leads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WI3,NaN
likes_gym,0,1,1,1,0,1,0,1,0,1
likes_sport,0,1,1,1,0,1,0,1,0,1
likes_tr,0,1,1,1,0,1,0,1,0,1
likes_trad,1,1,1,1,0,1,0,1,1,1
member_since,"Nov 13, 2010","May 8, 2011","Feb 2, 2009","May 26, 2010","Sep 3, 2006","Jul 12, 2016","Sep 21, 2007","Jun 3, 2014","Aug 10, 2013","Jan 8, 2015"
point_rank,2570,6523,601,1439,4969,NaN,3512,NaN,NaN,6502
sport_follows,NaN,6b,6b,NaN,NaN,5b,NaN,5c,6a,5c
sport_lead,NaN,6a,6b,NaN,NaN,5b,NaN,5a,6a,5b
state,NaN,wa,hi,co,NaN,ky,ca,al,ma,ma
total_points,223,50,1123,465,80,0,140,0,0,50
trad_follows,NaN,5c,6b,NaN,NaN,4b,NaN,5b,6a,5c
trad_lead,NaN,5a,5c,NaN,NaN,1c,NaN,4c,5b,5a

In [17]:
users_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2069 entries, 0 to 2068
Data columns (total 20 columns):
age              903 non-null float64
aid_follows      217 non-null object
aid_leads        217 non-null object
city             1155 non-null object
compliments      2069 non-null int64
female           1260 non-null float64
ice_follows      314 non-null object
ice_leads        314 non-null object
likes_gym        2069 non-null int64
likes_sport      2069 non-null int64
likes_tr         2069 non-null int64
likes_trad       2069 non-null int64
member_since     2069 non-null object
point_rank       1156 non-null float64
sport_follows    1036 non-null object
sport_lead       1036 non-null object
state            1133 non-null object
total_points     2069 non-null int64
trad_follows     998 non-null object
trad_lead        998 non-null object
dtypes: float64(3), int64(6), object(11)
memory usage: 323.4+ KB

### fill nulls

In [18]:
# fill age with mean age
users_df_new['age'] = users_df_new['age'].fillna(users_df_new['age'].mean())

In [19]:
# fix point rank
users_df_new['point_rank'] = users_df_new['point_rank'].fillna(users_df_new['point_rank'].mean())

In [20]:
# fix datetime
users_df_new['member_since'] = pd.to_datetime(users_df_new['member_since'])
users_df_new.head().T

,0,1,2,3,4
age,33.2824,33.2824,33.2824,33,33.2824
aid_follows,NaN,NaN,C5,NaN,NaN
aid_leads,NaN,NaN,C3,NaN,NaN
city,NaN,Seattle,Hawaii,Corvallis,NaN
compliments,0,1,10,0,0
female,NaN,0,0,0,NaN
ice_follows,NaN,NaN,NaN,NaN,NaN
ice_leads,NaN,NaN,NaN,NaN,NaN
likes_gym,0,1,1,1,0
likes_sport,0,1,1,1,0
likes_tr,0,1,1,1,0
likes_trad,1,1,1,1,0
member_since,2010-11-13 00:00:00,2011-05-08 00:00:00,2009-02-02 00:00:00,2010-05-26 00:00:00,2006-09-03 00:00:00
point_rank,2570,6523,601,1439,4969
sport_follows,NaN,6b,6b,NaN,NaN
sport_lead,NaN,6a,6b,NaN,NaN
state,NaN,wa,hi,co,NaN
total_points,223,50,1123,465,80
trad_follows,NaN,5c,6b,NaN,NaN
trad_lead,NaN,5a,5c,NaN,NaN

### time to make dummies

In [21]:
dummy_list1 = [u'aid_follows',
             u'aid_leads',
             u'ice_follows',
             u'ice_leads',
             u'sport_follows',
             u'sport_lead',
             u'trad_follows',
             u'trad_lead']
dummy_list2 = [u'city',u'state',]

In [22]:
df_subsets = users_df_new[dummy_list1]
dummy_df1 = pd.get_dummies(df_subsets)

In [23]:
df_subsets = users_df_new[dummy_list2]
dummy_df2 = pd.get_dummies(df_subsets)

In [24]:
dummy_df3 = pd.get_dummies(users_df_new['female']).rename( columns={0.0: 'male', 1.0: 'female'})

In [25]:
users_df_new.head().T
concat_list = [users_df_new.drop(dummy_list1+dummy_list2+['female'], axis=1), dummy_df1, dummy_df2, dummy_df3]
x_users = pd.concat(concat_list, axis=1)

In [26]:
x_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2069 entries, 0 to 2068
Columns: 599 entries, age to female
dtypes: datetime64[ns](1), float64(2), int64(6), uint8(590)
memory usage: 1.3 MB

In [27]:
x_users.isnull().values.any()

False

### Combine x_users and x_routes based on the utility matrix

In [28]:
db = client.utility_matrix
ratings_df = dataframe_from_collection(db.utility_matrix).drop('_id', axis=1)
ratings_df.head()

   rating  route_id  user_id
0       1         0       36
1       1         1       36
2       1         2      394
3       1         2     1972
4       1         2     1625

In [29]:
# get list of indices
route_ind_list = ratings_df['route_id'].tolist()
user_ind_list = ratings_df['user_id'].tolist()

In [30]:
left = x_users.iloc[user_ind_list, :].reset_index().drop('index', axis=1)
right = x_routes.iloc[route_ind_list, :].reset_index().drop('index', axis=1)
data_df = left.join(right)

In [31]:
data_df.isnull().values.any()

False

In [33]:
model_df = data_df.join(ratings_df)
model_df.head()

,age,compliments,likes_gym,likes_sport,likes_tr,likes_trad,member_since,point_rank,total_points,aid_follows_ C0,...,original_grade_5.8,original_grade_5.8+,original_grade_5.8-,original_grade_5.9,original_grade_5.9+,original_grade_5.9-,original_grade_Easy 5th,rating,route_id,user_id
0,35.000000,40,1,1,1,1,2008-06-29,611.000000,1100,1,...,0,0,0,0,0,0,0,1,0,36
1,35.000000,40,1,1,1,1,2008-06-29,611.000000,1100,1,...,0,0,0,0,0,0,0,1,1,36
2,29.000000,4,1,1,0,1,2011-05-28,172.000000,2945,0,...,0,0,0,0,0,0,0,1,2,394
3,27.000000,0,1,1,1,1,2012-04-16,1053.000000,656,0,...,0,0,0,0,0,0,0,1,2,1972
4,33.282392,0,0,0,0,0,2015-04-20,6388.894464,0,0,...,0,0,0,0,0,0,0,1,2,1625

In [34]:
model_df.isnull().values.any()

False

### save as csv because mongodb doesn't like '.'  in dict key

In [36]:
model_df.to_csv("model_df.csv", sep='\t')

In [38]:
pd.read_csv("model_df.csv", sep='\t')

,Unnamed: 0,age,compliments,likes_gym,likes_sport,likes_tr,likes_trad,member_since,point_rank,total_points,...,original_grade_5.8,original_grade_5.8+,original_grade_5.8-,original_grade_5.9,original_grade_5.9+,original_grade_5.9-,original_grade_Easy 5th,rating,route_id,user_id
0,0,35.000000,40,1,1,1,1,2008-06-29,611.000000,1100,...,0,0,0,0,0,0,0,1,0,36
1,1,35.000000,40,1,1,1,1,2008-06-29,611.000000,1100,...,0,0,0,0,0,0,0,1,1,36
2,2,29.000000,4,1,1,0,1,2011-05-28,172.000000,2945,...,0,0,0,0,0,0,0,1,2,394
3,3,27.000000,0,1,1,1,1,2012-04-16,1053.000000,656,...,0,0,0,0,0,0,0,1,2,1972
4,4,33.282392,0,0,0,0,0,2015-04-20,6388.894464,0,...,0,0,0,0,0,0,0,1,2,1625
5,5,14.000000,0,0,1,1,1,2016-06-21,7902.000000,31,...,0,0,0,0,0,0,0,1,2,1522
6,6,33.282392,0,0,0,0,0,2016-03-09,6388.894464,0,...,0,0,0,0,0,0,0,3,3,233
7,7,30.000000,1,1,1,1,1,2014-09-22,2899.000000,186,...,0,0,0,0,0,0,0,3,3,1716
8,8,34.000000,20,1,1,1,1,2014-07-14,1217.000000,551,...,0,0,0,0,0,0,0,3,3,1399
9,9,33.282392,8,1,1,1,1,2009-09-15,238.000000,2385,...,0,0,0,0,0,0,0,2,3,1935
10,10,31.000000,0,1,1,1,1,2014-09-17,6388.894464,0,...,0,0,0,0,0,0,0,2,3,452
11,11,33.282392,0,0,0,0,0,2013-03-04,13094.000000,10,...,0,0,0,0,0,0,0,2,3,1640
12,12,27.000000,24,1,1,1,1,2012-10-15,1052.000000,657,...,0,0,0,0,0,0,0,2,3,1541
13,13,33.282392,0,1,1,1,1,2013-07-09,6388.894464,0,...,0,0,0,0,0,0,0,2,3,213
14,14,33.282392,0,1,1,0,1,2013-02-25,2224.000000,270,...,0,0,0,0,0,0,0,2,3,116
15,15,33.282392,0,0,0,0,0,2013-08-22,6388.894464,0,...,0,0,0,0,0,0,0,2,3,730
16,16,24.000000,0,1,1,1,1,2015-11-26,10201.000000,20,...,0,0,0,0,0,0,0,2,3,143
17,17,33.282392,0,0,0,0,0,2016-08-19,6388.894464,0,...,0,0,0,0,0,0,0,2,3,1542
18,18,30.000000,0,1,1,1,1,2015-07-04,6388.894464,0,...,0,0,0,0,0,0,0,2,3,1521
19,19,31.000000,0,0,1,0,1,2015-07-14,2073.000000,295,...,0,0,0,0,0,0,0,2,3,1170
20,20,33.282392,0,0,0,0,0,2016-09-27,6388.894464,0,...,0,0,0,0,0,0,0,2,3,1101
21,21,33.000000,2,0,1,1,1,2015-01-03,4732.000000,85,...,0,0,0,0,0,0,0,2,3,1327
22,22,33.282392,0,0,1,0,1,2012-01-31,11969.000000,10,...,0,0,0,0,0,0,0,2,3,1856
23,23,41.000000,0,1,1,1,1,2006-03-12,634.000000,1065,...,0,0,0,0,0,0,0,2,3,1832
24,24,44.000000,10,1,1,1,1,2001-10-05,531.000000,1245,...,0,0,0,0,0,0,0,2,3,1107
25,25,33.282392,0,0,0,0,0,2011-06-23,5125.000000,75,...,0,0,0,0,0,0,0,2,3,1655
26,26,38.000000,0,1,1,1,1,2008-05-08,961.000000,725,...,0,0,0,0,0,0,0,2,3,686
27,27,33.282392,1,1,1,1,1,2012-04-10,9898.000000,20,...,0,0,0,0,0,0,0,2,3,1177
28,28,33.282392,0,0,0,0,0,2013-01-22,6388.894464,0,...,0,0,0,0,0,0,0,2,3,188
29,29,44.000000,0,1,1,1,1,2009-05-08,1236.000000,545,...,0,0,0,0,0,0,0,2,3,1274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29862,29862,43.000000,7,1,1,1,1,2010-03-22,644.000000,1050,...,0,0,0,0,0,0,0,4,3717,2009
29863,29863,43.000000,7,1,1,1,1,2010-03-22,644.000000,1050,...,0,0,0,0,0,0,0,3,3718,2009
29864,29864,26.000000,4,0,0,0,0,2009-09-30,2275.000000,260,...,0,0,0,0,0,0,0,3,3718,1390
29865,29865,33.282392,47,0,0,0,0,2012-12-30,469.000000,1385,...,0,0,0,0,0,0,0,3,3718,1672
29866,29866,33.282392,1,1,1,1,1,2009-05-29,2930.000000,185,...,0,0,0,0,0,0,0,4,3719,937
29867,29867,33.282392,5,0,0,0,0,2003-03-10,952.000000,735,...,0,0,0,0,0,0,0,3,3720,1021
29868,29868,33.282392,4,0,1,1,1,2008-02-10,659.000000,1035,...,0,0,0,0,0,0,0,4,3721,640
29869,29869,35.000000,3,1,1,1,1,2006-03-13,1310.000000,510,...,0,0,0,0,0,0,0,4,3721,953
29870,29870,37.000000,0,0,1,0,1,2005-12-09,1973.000000,320,...,0,0,0,0,0,0,0,4,3721,1513
29871,29871,28.000000,1,1,1,1,1,2008-08-26,6775.000000,45,...,0,0,0,0,0,0,0,4,3721,859
29872,29872,27.000000,0,0,1,1,1,2010-10-27,6388.894464,0,...,0,0,0,0,0,0,0,4,3721,1063
29873,29873,33.282392,0,0,0,0,0,2013-08-13,3837.000000,120,...,0,0,0,0,0,0,0,4,3721,1124
29874,29874,33.282392,0,0,0,0,0,2015-12-08,13664.000000,10,...,0,0,0,0,0,0,0,4,3722,1058
29875,29875,33.282392,0,0,0,0,0,2016-09-06,5422.000000,66,...,0,0,0,0,0,0,0,3,3722,1250
29876,29876,33.282392,0,0,0,0,0,2016-06-19,6388.894464,0,...,0,0,0,0,0,0,0,3,3722,1940
29877,29877,33.282392,0,1,1,0,1,2016-03-14,615.000000,1095,...,0,0,0,0,0,0,0,3,3722,1750
29878,29878,39.000000,11,1,1,0,1,2016-03-06,1058.000000,653,...,0,0,0,0,0,0,0,3,3722,1360
29879,29879,33.282392,7,0,0,0,0,2014-07-07,402.000000,1564,...,0,0,0,0,0,0,0,3,3722,358
29880,29880,33.282392,0,0,0,0,0,2012-07-18,3568.000000,135,...,0,0,0,0,0,0,0,3,3722,1019
29881,29881,27.000000,0,1,1,0,1,2014-05-17,12066.000000,10,...,0,0,0,0,0,0,0,2,3722,1162
29882,29882,33.282392,0,0,0,0,0,2011-08-06,6388.894464,0,...,0,0,0,0,0,0,0,2,3722,1367
29883,29883,39.000000,821,0,1,0,1,2007-01-10,10.000000,19140,...,0,0,0,0,0,0,0,2,3722,1199
29884,29884,42.000000,0,0,1,0,1,2006-12-16,312.000000,1955,...,0,0,0,0,0,0,0,2,3722,405
29885,29885,33.282392,8,0,1,0,1,2006-08-21,355.000000,1720,...,0,0,0,0,0,0,0,2,3722,735
29886,29886,33.282392,1,0,0,0,0,2006-03-13,3984.000000,115,...,0,0,0,0,0,0,0,2,3722,1684
29887,29887,33.000000,0,1,1,0,1,2008-02-05,4233.000000,103,...,0,0,0,0,0,0,0,3,3723,161
29888,29888,33.282392,4,1,1,0,1,2007-09-24,320.000000,1910,...,0,0,0,0,0,0,0,2,3723,1738
29889,29889,33.282392,0,0,0,0,0,2011-08-12,6388.894464,0,...,0,0,0,0,0,0,0,1,3723,756
29890,29890,33.282392,0,0,0,0,0,2011-03-21,2987.000000,180,...,0,0,0,0,0,0,0,4,3724,412
29891,29891,33.282392,18,0,0,0,0,2004-07-01,494.000000,1320,...,0,0,0,0,0,0,0,3,3725,401