In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:
client = MongoClient()
db = client.redpointer

In [4]:
db = client.routes_updated
routes = db.routes

In [5]:
db = client.users
users = db.users

In [10]:
routes_df = pd.DataFrame(list(routes.find()))

In [11]:
routes_df.head()

,Aid,Alpine,Boulder,FA,Ice,Mixed,Sport,TR,Trad,_id,...,id,name,original_grade,page_views,pitches,route_url,season,submitted_by,submitted_on,uiaa
0,0,0,0,"Adam Winslow, Bill Coe, Kyle Silverman 3/20/09",0,0,0,0,1,58d4599740b441389904258b,...,0,30(1) Feet of Pleasure,5.6,588,1.0,/v/301-feet-of-pleasure/106862592,NaN,adam winslow,"Aug 18, 2010",NaN
1,0,0,0,"Adam Winslow, Ujahn Davisson, Bill Coe, Jim Op...",0,0,0,0,1,58d4599740b441389904258c,...,1,41 Feet of Pain,5.5,642,1.0,/v/41-feet-of-pain/106862549,NaN,adam winslow,"Aug 18, 2010",NaN
2,0,0,0,?,0,0,0,1,1,58d4599740b441389904258d,...,2,5.5 Crack,5.5,176,NaN,/v/55-crack/108318876,Afternoon shade,CHopwood,"Sep 2, 2013",NaN
3,0,0,0,,0,0,0,1,1,58d4599740b441389904258e,...,3,5.6 crack,5.6,1263,1.0,/v/56-crack/106630563,NaN,Tom Bath,"Dec 16, 2009",NaN
4,0,0,0,Unknown,0,0,0,1,1,58d4599740b441389904258f,...,4,5.6 Dihedral,5.6,678,1.0,/v/56-dihedral/106165717,NaN,chrishar Hargarten,"May 19, 2008",NaN

In [12]:
users_df = pd.DataFrame(list(users.find()))

In [13]:
users_df.head()

,_id,age,aid_follows,aid_leads,city,compliments,favorite_climbs,female,ice_follows,ice_leads,...,member_since,name,other_interests,point_rank,sport_follows,sport_lead,state,total_points,trad_follows,trad_lead
0,58d1912840b4417fa4b16db4,NaN,NaN,NaN,NaN,0,leading trad is rad,NaN,NaN,NaN,...,"Nov 13, 2010",-Jeremy Nelson,none specified,2570.0,NaN,NaN,NaN,223,NaN,NaN
1,58d1912840b4417fa4b16db5,NaN,NaN,NaN,Seattle,1,"high mountain woody, fridge left, easy in an ...",0.0,NaN,NaN,...,"May 8, 2011",1694kyle Bonnet,"Beer, Led Zeppelin, Food",6523.0,6b,6a,wa,50,5c,5a
2,58d1912840b4417fa4b16db6,NaN,C5,C3,Hawaii,10,none specified,0.0,NaN,NaN,...,"Feb 2, 2009",20 kN,none specified,601.0,6b,6b,hi,1123,6b,5c
3,58d1912840b4417fa4b16db7,33.0,NaN,NaN,Corvallis,0,outer space,0.0,NaN,NaN,...,"May 26, 2010",419,Male Nursing,1439.0,NaN,NaN,co,465,NaN,NaN
4,58d1912840b4417fa4b16db8,NaN,NaN,NaN,NaN,0,none specified,NaN,NaN,NaN,...,"Sep 3, 2006",8jimi8,none specified,4969.0,NaN,NaN,NaN,80,NaN,NaN

In [20]:
client = MongoClient()
db = client.redpointer
db.routes.insert_many(list(routes.find()))

In [21]:
client = MongoClient()
db = client.redpointer
db.users.insert_many(list(users.find()))

In [23]:
pd.DataFrame(list(db.users.find())).head()['name']

0     -Jeremy Nelson
1    1694kyle Bonnet
2              20 kN
3                419
4             8jimi8
Name: name, dtype: object